/*Login Form Start*/
 .form-data {
    width: 100%;
    max-width: 35rem;
    margin: 3rem;
  }

  .form-data form {
    background: white;
    border: 2px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }

  .logo img {
    width: 15rem;
    border-bottom: 2.5rem;
  }

    .form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
  }

  .form-btn {
    background-color: #5161ce;
    border: none;
    color: white;
    margin: 1rem 0 1.5rem;
    height: 3rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1.2rem;
    font-family: Arial;
    color: #003569;
  }

    .sign-up {
    background-color: white;
    border: 2px solid #eee;
    font-size: 1.2rem;
    color: #4f33c9;
    padding: 2rem 0;
    margin: 1rem 0;
    font-family: Arial;
  }

  .sign-up a {
    color: #5161ce;
  }

  footer {
    padding: 5rem;
  }

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.4rem;
    font-family: Arial;
    margin: 0;
  }

li{
    list-style: none;
    margin-right: 1.6rem;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
  }

  body {
    background-color: #fafafa;
  }

    .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10rem;
  }

  .container {
    width: 100%;
    max-width: 93rem;
    margin: 3rem auto 0;
  }

  .wrapper > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8rem;
  }

  .phone-app {
    background: url("../images/phoneApp.png");
    background-size: 72rem;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 52rem;
  }

/*Login Form End*/

/*Reg Form Start*/

 .reg-form-data {
    width: 100%;
    max-width: 35rem;
    margin-left: 33rem;
  }

  .reg-form-data form {
    background: white;
    border: 2px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }

    .reg-form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
  }

/*Reg Form End*/


/*Home Page - Vids*/

.home-container{
width: 80%;
margin: 80px auto;
}

.home-container h1{
padding: 60px 0;
color: #5161ce;
font-size 44px;
text-align:center;
text-transform: uppercase;
}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
}

.col{
flex-basis: 50%;
min-width: 250px
}

.feature-img{
width: 83%;
margin: auto;
position: relative;
border-radius: 6px;
overflow: hidden;
}

.small-img-row{
display: flex;
background: black;
margin: 20px 0;
align-items: center;
border-radius: 6px;
overflow: hidden;
width: 25em;
height: 25em;
}

.small-img img{
position: relative;
width: 150px;
}

.small-img-row p{
margin-left: 20px;
color: orange;
}

.play{
width: 60px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
cursor: pointer;
}

.small-img .play{
width: 35px;
}

.video-player{
width: 80%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
display: none;
}

video:focus:{
outline: none;
}

.close{
position: absolute;
top: 10px;
right: 10px;
width: 30px;
cursor: pointer;
}
/*Home Page - Vids*/