@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
/*Navbar Start*/
.alphaNav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    position:fixed;
    z-index:100;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color:white;
}
.nav-container{
    background-color:white;
}
.nav div.nav-logo img{
    float: left;
    width: 15rem;
    padding-left: 3rem;
}

.nav div.nav-logo a {
    text-decoration: none;
    color: #5161ce;
}

.nav div.nav-logo a:hover {
    color: purple;
}

.nav div.main_list {
    height: 65px;
    margin-left:50em;
}

.nav div.main_list ul {
    width: 100%;
    height: 35px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #5161ce;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: purple;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.nav-logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
/*Navbar End*/

/*Login Form Start*/
 .form-data {
    width: 100%;
    max-width: 35rem;
    margin: 3rem;
  }

  .form-data form {
    background: white;
    border: 2px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }

  .logo img {
    width: 15rem;
    border-bottom: 2.5rem;
  }

    .form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
  }

  .form-btn {
    background-color: #5161ce;
    border: none;
    color: white;
    margin: 1rem 0 1.5rem;
    height: 3rem;
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .reset {
    font-size: 1.2rem;
    font-family: Arial;
    color: #003569;
  }

    .sign-up {
    background-color: white;
    border: 2px solid #eee;
    font-size: 1.2rem;
    color: #4f33c9;
    padding: 2rem 0;
    margin: 1rem 0;
    font-family: Arial;
  }

  .sign-up a {
    color: #5161ce;
  }

  footer {
    padding: 5rem;
  }

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.4rem;
    font-family: Arial;
    margin: 0;
  }

li{
    list-style: none;
    margin-right: 1.6rem;
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 10px;
  }

  body {
    background-color: #fafafa;
  }

    .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10rem;
  }

  .container {
    width: 100%;
    max-width: 93rem;
    margin: 3rem auto 0;
  }

  .wrapper > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8rem;
  }

  .phone-app {
    background: url("../images/phoneApp.png");
    background-size: 72rem;
    background-repeat: no-repeat;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 52rem;
  }

/*Login Form End*/

/*Reg Form Start*/

 .reg-form-data {
    width: 100%;
    max-width: 35rem;
    margin-left: 33rem;
  }

  .reg-form-data form {
    background: white;
    border: 2px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }

    .reg-form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
  }

/*Reg Form End*/


/*Home Page - Vids*/
.imageContainerAlpha{
	height: 100%;
	overflow: hidden;
	text-align:center;
	width: 100%;
	padding-top:200px;
}

.vidContainer{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: auto;
	line-height: 1;
	overflow-x: hidden;
	padding: 2rem;
	width: 100%;
	box-sizing: border-box;
}

.image {
  position: relative;
  padding-top: 4.1%;
  padding-bottom: 51.95%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.video-gallery {
  margin-top: 3em;
  position: relative;
  width: 100%;
}
.video-gallery .video {
  animation: 1200ms fadeOut ease;
  animation-fill-mode: both;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 7;
  max-height: 19.5em;
  opacity: 0;
  transition: all 300ms ease;
}
.video-gallery input[type=radio] {
  font-size: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  width: 0;
}
.video-gallery input {
  grid-column-start: 1;
  grid-row-start: 1;
}
.video-gallery label {
  color: #000000;
  font-size: 1.25em;
  font-weight: 400;
  grid-column-start: 2;
  margin: 0 !important;
  padding: 1rem 0 1rem 3rem;
  position: relative;
  border-bottom: 1px solid #CCCCCC;
}
.video-gallery label:last-of-type {
  border: 0 none;
}
.video-gallery input[type=radio]:checked + label {
  color: #5161ce !important;
}
.video-gallery input[type=radio]:checked + label:before {
  content: "▶";
  left: 0;
  top: 12px;
  position: absolute;
}

.grid-row {
  display: block;
  height: 56vw;
  max-height: 19.5em;
  position: relative;
}
.grid-row label {
  left: calc(50% + 16px);
  position: relative;
  width: calc(50% - 16px);
}
.grid-row .video {
  padding: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.grid-row:after {
  content: "";
  clear: both;
  display: table;
}

#video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4 {
  animation: 1200ms fadeIn ease;
  animation-fill-mode: both;
  opacity: 1;
  width: 50%;
}

@keyframes fadeOut {
  0% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
  25% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
  49% {
    display: block;
    height: 56vw;
    opacity: 0;
    width: 50%;
  }
  50% {
    display: none;
    height: 0;
    opacity: 0;
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }
  49% {
    display: none;
    height: 0;
    opacity: 0;
    width: 0;
  }
  50% {
    display: block;
    height: 56vw;
    opacity: 0;
    width: 50%;
  }
  100% {
    display: block;
    height: 56vw;
    opacity: 1;
    width: 50%;
  }
}
@supports (display: grid) {
  .grid-row {
    align-items: start;
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .grid-row label {
    left: auto;
    width: 100%;
  }
  .grid-row .video {
    position: relative;
    width: 100%;
  }
  @keyframes fadeOut {
    0% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
    25% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
    49% {
      display: block;
      height: 56vw;
      opacity: 0;
      width: 100%;
    }
    50% {
      display: none;
      height: 0;
      opacity: 0;
      width: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      width: 0;
    }
    49% {
      display: none;
      height: 0;
      opacity: 0;
      width: 0;
    }
    50% {
      display: block;
      height: 56vw;
      opacity: 0;
      width: 100%;
    }
    100% {
      display: block;
      height: 56vw;
      opacity: 1;
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .video-gallery {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  .video-gallery label {
    left: auto;
    order: 2;
    width: 100%;
  }
  .video-gallery .video {
    order: 1;
    padding-top: 4.1%;
    padding-bottom: 51.95%;
    position: relative;
    top: auto;
    width: 100%;
  }

  #video-1:checked ~ .video-1, #video-2:checked ~ .video-2, #video-3:checked ~ .video-3, #video-4:checked ~ .video-4 {
    width: 100%;
  }

  @keyframes fadeOut {
    0% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
    25% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
    49% {
      display: block;
      height: 56vw;
      opacity: 0;
    }
    50% {
      display: none;
      height: 0;
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    49% {
      display: none;
      height: 0;
      opacity: 0;
    }
    50% {
      display: block;
      height: 56vw;
      opacity: 0;
    }
    100% {
      display: block;
      height: 56vw;
      opacity: 1;
    }
  }
}
/*Home Page - Vids*/


/*Account Page Start*/
.alphaAccountContainer{
overflow: hidden;
}

.accountContainer{
background: #fff;
width: 540px;
height: 450px;
margin: 0 auto;
position: relative;
margin-top: 10%;
box-shadow: 2px 5px 20px rgba(119, 119,
119,.5);
}

.leftBox{
float: left;
top: -5%;
left: 5%;
position: absolute;
width: 15%;
height: 110%;
background: #5161ce;
box-shadow: 3px 3px 10px rgba(119,119,119,.5);
border: .1em solid #fff;
}

.leftBox nav a{
list-style: none;
padding: 35px;
color: #fff;
font-size: 1.1em;
display: block;
transition: all .3s ease-in-out;
}

.leftBox nav a:hover{
color: purple;
cursor: pointer;
transform: scale(1.2);
}

.leftBox nav a:first-child{
margin-top: 7px;
}

.leftBox nav a.active{
color:purple;
}

.rightBox{
width: 60%;
margin-left: 27%;
padding-top: 5px;
}

.tabShow{
transition: all .5s ease-in;
width: 80%;
}

.rightBox h1{
font-family: 'Montserrat', sans-serif;
color: #5161ce;
font-size: 2.2rem;
margin-top: 40px;
margin-bottom: 35px;
}

.rightBox h2{
color: #777;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size:8px;
letter-spacing: 1px;
margin-left: 2px;
margin-top: 10px;
}

.rightBox input, p{
border: 0;
border-bottom: 1px solid #5161ce;
width: 80%;
font-family: 'Montserrat', sans-serif;
font-size: .7em;
padding: 7px 0;
color: #070707;
outline: none;
}

.btn{
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
font-size: 15px;
border: 0;
color: #fff;
background: #5161ce;
padding: 7px 15px;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
cursor: pointer;
margin-top: 15px;
}

.tabShow{
display: none;
}


/*Account Page End*/

/*Help Section Start*/
.helpContainer{
    margin-left: 40em;
    padding-top: 200px;

}
.box{
   width: 520px;
   background: #fff;
   border-radius: 7px;
   box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.box .heading{
   background: #5161ce;
   border-radius: 7px 7px 0px 0px;
   padding: 10px;
   color: #fff;
   text-align: center;
   font-family: "Rubik";
   font-size: 2.3em;
}

.faqs{
   padding: 0px 20px 20px;
}

::-webkit-details-marker{
   float: right;
   margin-top: 3px;
}

details{
   background: #f6f6f6;
   padding: 10px 20px;
   border-radius: 7px;
   margin-top: 20px;
   font-family: "Rubik";
   font-size: 14px;
   letter-spacing: 1px;
   cursor: pointer;
}

details summary{
   outline: none;
}

/*Help Section End*/