{% extends "layout.html" %}
{% block body %}
<body>
<div class="vidContainer">
    <div class="video-gallery">
        <!-- videos -->
        <div class="video video-1">
            <h1>Time</h1>
            <img src="../static/images/santos.jpg">
        </div>

        <div class="video video-2">
            <h1>Time</h1>
            <img src="../static/images/black.jpg">
        </div>

        <div class="video video-3">
            <h1>Time</h1>
            <img src="../static/images/black.jpg">
        </div>

        <div class="video video-4">
            <h1>Time</h1>
            <img src="../static/images/black.jpg">
        </div>

        <!-- videos -->
    </div>
</div>
</body>
{% endblock %}