{% extends "layout.html" %}
{% block body %}
<body>
<div class="vidContainerAlpha">
    <div class="vidContainer">
        <div class="video-gallery">
            <div class="imageContainerAlpha">
                {% for col in array %}
                <div class="image">
                    <img width="560" height="315" src="https://s3-eu-west-1.amazonaws.com/azurcams-storage/{{col}}.jpg"
                         frameborder="0"
                         allowfullscreen></img>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}