<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: blue;">
<div>
    <form action="" method="post">
        <label>USERNAME</label><br>
        <input name="username" type="email" placeholder="please enter your username"><br><br>
        <label>PASSWORD</label><br>
        <input name="password" type="password" placeholder="please enter your password"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/new">
        <label>New here?</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>













</html>