<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
<div class="wrapper">
  <div class="container">
      <!-- reg form *start* -->
    <div class="reg-form-data">
    <form action="" method="post">
              <div class="logo">
        <img src="../static/images/logo.png" alt="">
      </div>
        <input type="text" name="name" id="name" placeholder="Full Name">
        <input type="text" name="username" id="username" placeholder="Username">
      <input type="text" name="email" id="email" placeholder="Email">
      <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="" id="password2" placeholder="Confirm Password">

        <input id="myinput" type="checkbox" required/>
<label for="myinput" class="indented-checkbox-text">I confirm that I have read and agree to the <a href="termsandconditions.html" target="_blank">Terms and Condition</a></label>
      <button class="form-btn">Register</button>
    </form>
    <div class="sign-up">
      Have an account? <a href="/">Log in</a>
    </div>
    </div>
  </div>
  <div class="container">
    <nav class="footer-nav">
      <ul>
        <li>About</li>
        <li>Help</li>
        <li>Privacy</li>
      </ul>
    </nav>
  </div>
</div>

  <!-- reg form *end* -->

</body>
</html>