{% extends "layout.html" %}
{% block body %}
<body>
<div class="wrapper">
  <div class="container">
      <!-- reg form *start* -->
    <div class="reg-form-data">
    <form action="" method="post">
              <div class="logo">
        <img src="../static/images/logo.png" alt="">
      </div>
      <input type="text" name="" id="email" placeholder="Email">
        <input type="text" name="" id="name" placeholder="Full Name">
        <input type="text" name="" id="username" placeholder="Username">
      <input type="password" name="" id="password1" placeholder="Password">
        <input type="password" name="" id="password12" placeholder="Confrim Password">
      <button class="form-btn">Register</button>
    </form>
    <div class="sign-up">
        Have an account? <a href="/">Log in</a>
    </div>
    </div>
  </div>
  <div class="container">
    <nav class="footer-nav">
      <ul>
        <li>About</li>
        <li>Help</li>
        <li>Privacy</li>
      </ul>
    </nav>
  </div>
</div>

  <!-- reg form *end* -->

</body>
{% endblock %}